opencv-python-headless
numpy
scikit-learn
accelerate
sentence-transformers
diffusers
torch
streamlit
Pillow
google-generativeai
TTS
streamlit-TTS
openai
python-dotenv
torch
SentencePiece 
gtts
mistralai
streamlit-audiorecorder
regex
streamlit_drawable_canvas
tensorflow